/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #080808;
  color: #9c9c9c;
  font-family: "IBM Plex Mono", monospace;
}

.container {
  max-width: 1280px;
  padding: 0 2rem;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
img {
  width: 100%;
  height: auto;
}
/* header */
.header-content {
  background-color: #1b1b1b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
.nav-lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  color: #fcfc;
  font-size: 19px;
  cursor: pointer;
  font-family: serif;
}
.fa-bars{
  display: none;
  color: #fcfc;
}
.icons {
  gap: 0.9rem;
  font-size: 25px;
  cursor: pointer;
}
.icons span{
  color: #fcfc;
}
/* header */

/* hero */
.hero-content {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
.top-hero {
  align-self: center;
}
.hero-title {
  font-family: "Eb garamond";
  font-weight: 1000;
  font-weight: 1500;
  font-size: 45px;
  color: #f9004d;
}
p{
  color: #fcfc;
}
.bottom-hero {
  width: 65%;
  size: 65px;
  transition: transform 0.7s ease;
  cursor: pointer;
}
.bottom-hero:hover {
  transform: scale(1.02, 1.09);
}
.logo {
  border-radius: 25em;
}
/* hero */

/* tech style start */
.tech-content {
  text-align: center;
  margin-top: 6rem;
}
.tech-content h4 {
  font-size: 80px;
}
.tech-images {
  display: flex;
  gap: 5rem;
  justify-content: center;
  margin-top: 6rem;
  width: 100%;
  cursor: pointer;
}

/* tech style end */

/* services */
.service{
  width: 100%;
  padding: 100px 0px;
}
 h4{
font-size: 80px;
/* width: 1100px; */
margin: 30px auto;
text-align: center;
margin-top: 2rem;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
.card{
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background-color: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
   transition: transform 0.3s ease;
}
.card:hover{
   transform: scale(1.02, 1.09);
}
.card i{
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #f9004d;
}
h3{
  color: white;
  font-size: 23px;
  margin-bottom: 15px;
}
.pra p{
color: #fcfc;
font-size: 16px;
list-style: 27px;
margin-bottom: 25px;
}
.card .button{
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: .4s;
}
.card .button:hover{
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}
/* services */

/* project style start */
/* card style start */
.project-container{
  margin-top: 3rem;
}
.project-content h4 {
  font-size: 80px;
  text-align: center;
}
.project-content p {
  text-align: center;
  margin-bottom: 3rem;
}
.properties { display: flex;
justify-content: center;
align-items: center;
gap: 3rem;
}
.word {
  border-radius: 20px;
  background-color: #191919;
  padding: 20px 35px;
  margin: 0 auto;
  flex-wrap: wrap;
  height: 670px;
  width: 335px;
  padding: 20px 35px;
  border-radius: 25px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.word-content {
  padding: 20px;
}
.home{
  width: 103%;
}
.login{
  width: 85%;
}
.scooter{
  width: 85%;
}
.word:hover {
  transform: scale(1.02, 1.09);
}
.word-title {
  color: #fcfc;
  font-size: 20px;
  font-weight: 200px;
  margin-bottom: 0.3rem;
  margin-top: 1rem;
  text-align: left;
}
.word-content p {
  font-size: 15px;
  font-weight: 60px;
  line-height: 25px;
  text-align: left;
  color: #f9004d;
  list-style: 27px;
}
/* card style end */
/* project style end */
/* contact styles start */
.contact-container h2{
  text-align: center;
  font-size: 80px;
  margin-top: 2rem;
}
.number{
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  font-size: 20px;
}
.info-contact{
  cursor: pointer;
}
.info-tel{
  cursor: pointer;
}
.mail{
  cursor: pointer;
}
.socials{
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 25px;
  cursor: pointer;
}
.socials span{
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #fcfc;
}
/* footer section/ */
.footer-container {
  background-color: #3f3f3f;
  text-align: center;
  margin-top: 2rem;
  border: none;
  color: #fcfc;
  font-family: "lato";
  border-radius: 30px;
  border-radius: 4px solid #fff;
}
.footer-container h2 {
  text-align: center;
  font-weight: 400;
  font-size: 19px;
  line-height: 20px;
  padding: 1rem;
  margin-bottom: 2rem;
}
/* contact styles end */

/* media queries */
@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
  .nav-lists {
    text-align: center;
    display: none;
    align-items: center;
  }
  
  .fa-bars{
    display: block;
    cursor: pointer;
  }
  .hero-content {
    flex-direction: column-reverse;
    text-align: center;
    align-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .bottom-hero {
    margin-top: 5rem;
  }
  .tech-images {
    flex-wrap: wrap;
  }
  .box{
    flex-wrap: wrap;
  }
  .service-content {
    flex-wrap: wrap;
  }
  .properties{
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .number{
    flex-direction: column;
    flex-wrap: wrap;
  }
  .socials{
    flex-wrap: wrap;
  }
  .contact-container{
    flex-wrap: wrap;
  }
  .contact-container p{ 
    text-align: center;
    flex-wrap: wrap;
  }
  .footer-title{
    flex-wrap: wrap;
  }
}
