/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #080808;
  color: #9c9c9c;
  font-family: "IBM Plex Mono", monospace;
}

.container {
  max-width: 1280px;
  padding: 0 2rem;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
img {
  width: 100%;
  height: auto;
}
/* header */
.header-content {
  background-color: #1b1b1b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
.nav-lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 19px;
  cursor: pointer;
  font-family: serif;
}
.icons {
  gap: 0.9rem;
  font-size: 25px;
  cursor: pointer;
}
/* header */

/* hero */
.hero-content {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
.top-hero {
  align-self: center;
}
.hero-title {
  font-family: "Eb garamond";
  font-weight: 1000;
  font-weight: 1500;
  font-size: 45px;
}
.bottom-hero {
  width: 65%;
  size: 65px;
  transition: transform 0.7s ease;
  cursor: pointer;
}
.bottom-hero:hover {
  transform: scale(1.02, 1.09);
}
.logo {
  border-radius: 25em;
}
/* hero */

/* tech style start */
.tech-content {
  text-align: center;
  margin-top: 6rem;
}
.tech-content h3 {
  font-size: 80px;
}
.tech-images {
  display: flex;
  gap: 5rem;
  justify-content: center;
  margin-top: 6rem;
  width: 100%;
}
/* .html{
  cursor: pointer;
  
}
@keyframes html {
  from{
opacity: 0;
  }
  to{
opacity: 1;
  }
}
.html{
  animation: html 4s ease-in-out 5s infinite alternate;
}

.css{
  cursor: pointer;
}
@keyframes css {
  from{
opacity: 0;
  }
  to{
opacity: 1;
  }
}
.css{
  animation: css 3s ease-in-out 4s infinite alternate;
}

.react{
  cursor: pointer;
}
@keyframes react {
  from{
opacity: 0;
  }
  to{
opacity: 1;
  }
}
.react{
  animation: react 4s ease-in-out 5s infinite alternate;
}

.javascript{
  cursor: pointer;
}
@keyframes javascript {
  from{
opacity: 0;
  }
  to{
opacity: 1;
  }
}
.javascript{
  animation: javascript 3s ease-in-out 4s infinite alternate;
}
.github{
  cursor: pointer;
}
@keyframes github {
  from{
opacity: 0;
  }
  to{
opacity: 1;
  }
}
.github{
  animation: github 4s ease-in-out 5s infinite alternate;
} */

/* tech style end */
/* experience styles start */
.experience-content {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.top-experience-content {
  text-align: center;
}
.top-experience-content h2 {
  font-size: 80px;
  padding: 2rem 0 1rem 0;
}
.top-experience-content p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.5;
}
.bottom-experience-content {
  margin-top: 3rem;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card {
  display: flex;
  gap: 1.1rem;
}
.card:nth-child(even) {
  flex-direction: row-reverse;
}
.card-desc {
  max-width: 400px;
  font-size: 14px;
}
.left-card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card-tag {
  background-color: #fff6e9;
  color: #ffa217;
  max-width: max-content;
  padding: 10px;
  border-radius: 50px;
}
#edtech {
  background-color: #d0e6ff;
  color: #000aff;
  padding: 10px;
  border-radius: 50px;
}
#pharma {
  background-color: #e0fff8;
  color: #2ab090;
  padding: 10px;
  border-radius: 50px;
}
.card-btn {
  max-width: max-content;
  background-color: #ffa217;
  padding: 0.9rem 1.5rem;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: background-color 1s, color 1s;
}
.card-btn:hover {
  background-color: rgb(212, 20, 6);
  color: #ffffff;
}
.card-btn:active {
  opacity: 0.7;
}
/* #fintech-btn {
} */
#edtech-btn {
  background-color: #000aff;
  transition: background-color 1s, color 1s;
}
#edtech-btn:hover {
  background-color: rgb(6, 191, 212);
  color: #ffffff;
}
#edtech-btn:active {
  opacity: 0.7;
}

#pharma-btn {
  background-color: #2ab090;
  transition: background-color 1s, color 1s;
}
#pharma-btn:hover {
  background-color: rgb(93, 101, 8);
  color: #ffffff;
}
#edtech-btn:active {
  opacity: 0.7;
}

.card-btn span {
  margin-left: 0.4rem;
}
.right-card-content {
  flex: 1;
}
/* experience styles end */

/* project style start */
/* card style start */
.project-content h3 {
  font-size: 80px;
  text-align: center;
}
.project-content p {
  text-align: center;
  margin-bottom: 3rem;
}
.properties {
  display: flex;
  /* justify-content: space-between; */
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 0.5rem;
}
.word {
  border-radius: 20px;
  background: #2ab090;
  padding: 1rem;
  margin: 0 auto;
  width: 65%;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.word-content {
  padding: 20px;
}
.word img {
  width: 80%;
}
.word:hover {
  transform: scale(1.02, 1.09);
}
.word-title {
  color: #5500d4;
  font-size: 20px;
  font-weight: 200px;
  margin-bottom: 0.3rem;
  margin-top: 1rem;
  text-align: left;
}
.word-content p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: #000000;
}
/* card style end */
/* project style end */
/* contact styles start */
.contact-container h2{
  text-align: center;
  font-size: 80px;
  margin-top: 2rem;
}
.contact-content{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.number{
  margin-top: 5rem;
  font-size: 20px;
}
.socials{
  font-size: 30px;
}
/* footer section/ */
.footer-container {
  background-color: #3f3f3f;
  text-align: center;
  margin-top: 2rem;
  border: none;
  color: #fff;
  font-family: "lato";
  border-radius: 30px;
  border-radius: 4px solid #fff;
}
.footer-container h2 {
  text-align: center;
  font-weight: 400;
  font-size: 19px;
  line-height: 20px;
  padding: 1rem;
  margin-bottom: 2rem;
}
/* contact styles end */

/* media queries */
@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
  .nav-lists {
    display: none;
  }
  .fa-brands {
    display: none;
  }
  .hero-content {
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .bottom-hero {
    margin-top: 5rem;
  }
  .tech-images {
    flex-direction: column;
  }
  
  .card {
    flex-direction: column;
  }
  .card:nth-child(even) {
    flex-direction: column;
  }
  .left-card-content {
    text-align: center;
    margin: 0 auto;
  }
  .card-tag,
  .card-btn {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  .properties{
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .right-contact-container{
    flex-direction: column;
    flex-wrap: wrap;
  }
  .contact-container h2{
    flex-direction: column;
  }
  .top-contact{
    margin: 0 auto;
  }
}
