/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #080808;
  color: #9c9c9c;
  font-family: "IBM Plex Mono", monospace;
}

.container {
  max-width: 1280px;
  padding: 0 2rem;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
img {
  width: 100%;
  height: auto;
}
/* header */
.header-content {
  background-color: #1b1b1b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
.nav-lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 19px;
  cursor: pointer;
  font-family: serif;
}
.icons {
  gap: 0.9rem;
  font-size: 25px;
  cursor: pointer;
}
/* header */

/* hero */
.hero-content {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
.top-hero {
  align-self: center;
}
.hero-title {
  font-family: "Eb garamond";
  font-weight: 1000;
  font-weight: 1500;
  font-size: 45px;
}
.bottom-hero {
  width: 65%;
  size: 65px;
  transition: transform 0.7s ease;
  cursor: pointer;
}
.bottom-hero:hover {
  transform: scale(1.02, 1.09);
}
.logo {
  border-radius: 25em;
}
/* hero */

/* tech style start */
.tech-content {
  text-align: center;
  margin-top: 6rem;
}
.tech-content h3 {
  font-size: 80px;
}
.tech-images {
  display: flex;
  gap: 5rem;
  justify-content: center;
  margin-top: 6rem;
  width: 100%;
}
/* tech style end */

/* project style start */
/* card style start */
.project-container{
  margin-top: 3rem;
}
.project-content h3 {
  font-size: 80px;
  text-align: center;
}
.project-content p {
  text-align: center;
  margin-bottom: 3rem;
}
.properties {
  display: flex;
  /* justify-content: space-between; */
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 0.5rem;
}
.word {
  border-radius: 20px;
  background: #2ab090;
  padding: 1rem;
  margin: 0 auto;
  width: 65%;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.word-content {
  padding: 20px;
}
.word img {
  width: 80%;
}
.word:hover {
  transform: scale(1.02, 1.09);
}
.word-title {
  color: #5500d4;
  font-size: 20px;
  font-weight: 200px;
  margin-bottom: 0.3rem;
  margin-top: 1rem;
  text-align: left;
}
.word-content p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: #000000;
}
/* card style end */
/* project style end */
/* contact styles start */
.contact-container h2{
  text-align: center;
  font-size: 80px;
  margin-top: 2rem;
}
.number{
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  font-size: 20px;
}
.info-contact{
  cursor: pointer;
}
.info-tel{
  cursor: pointer;
}
.mail{
  cursor: pointer;
}
.socials{
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 25px;
  cursor: pointer;
}
/* footer section/ */
.footer-container {
  background-color: #3f3f3f;
  text-align: center;
  margin-top: 2rem;
  border: none;
  color: #fff;
  font-family: "lato";
  border-radius: 30px;
  border-radius: 4px solid #fff;
}
.footer-container h2 {
  text-align: center;
  font-weight: 400;
  font-size: 19px;
  line-height: 20px;
  padding: 1rem;
  margin-bottom: 2rem;
}
/* contact styles end */

/* media queries */
@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
  .nav-lists {
    text-align: center;
    align-items: center;
  }
  .fa-brands {
    /* display: none; */
  }
  .hero-content {
    flex-direction: column-reverse;
    text-align: center;
    align-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .bottom-hero {
    margin-top: 5rem;
  }
  .tech-images {
    flex-wrap: wrap;
  }
  
  .properties{
    flex-wrap: wrap;
  }
  .number{
    flex-direction: column;
    flex-wrap: wrap;
  }
  .socials{
    flex-wrap: wrap;
  }
}
